#group{
    list-style: none;
    padding: 0;
}
#group div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
#group li  a{
    color: #000 ;
    font-size: 15px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    background: #c9ced3;
    transition: .3s;
    width: 200px;
} 

#group li  a p{
    margin: 0 !important;
}
#group li  a , .active-menu{
    background: radial-gradient(#2165ae, #143d69) !important;
    color: #fff !important;
    align-items: center;
    justify-content: center;
}